body {
  margin: 0;
  padding: 0;
  font-family: 'Share', sans-serif;

  background-color: #fffae3;
}

#root {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #79c274;
}

p {
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #79c274;
}

input,
button {
  font-family: 'Share', sans-serif;
  height: 30px;
  padding: 5px 15px;
  width: 100%;

  border: none;
  border-radius: 10px;
  font-size: 14px;
}

button.colored,
input.colored {
  background-color: #79c274;
  color: #fff;
}

.MainView {
  max-height: calc(100vh - 90px);
  overflow: scroll;
  padding: 20px 20px 48px 20px;
}

.Routed-Container {
  overflow: hidden;
}

.Modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__form > input {
  height: 15px;
  
  margin: 5px;
  padding: 5px;
  
  border: 2px solid #e1e1e1;
  border-radius: 10px;
}


.Modal__form input[type='submit'] {
  height: 30px;
  padding: 5px 15px;

  background-color: #79c274;
  border: none;
  color: #fff;
  font-size: 14px;
}