.Modal {
  position: fixed;
  top: calc(50% - 48px);
  left: 50%;

  padding: 20px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  width: calc(100% - 80px);

  transform: translate(-50%, -50%);
}

.Modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
}

.Modal-Form {
  
}